@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.card {
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.25);
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

td {
    text-transform: capitalize;
}

#data-description {
    text-transform: capitalize;
}

.temp {
    font-size: small;
    font-weight: lighter;
}

a {
    font-size: x-small;
}

.static {
    position: absolute;
    background: white
}

.static:hover {
    opacity: 0;
}

.img-button {
    width: 28px;
    filter: invert(100%)
}

.info {
    display: flex;
    justify-content: space-between;
    width: 100px;
}

.unit {
    font-size: small;
}

.info-temperature {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.cropped {
    width: 60px;
    /* width of container */
    height: 60px;
    /* height of container */
    object-fit: cover;
}